/* CSS for Paged.js interface – v0.4 */

/* Change the look */
:root {
  --color-background: whitesmoke;
  --color-pageSheet: #cfcfcf;
  --color-pageBox: violet;
  --color-paper: white;
  --color-marginBox: transparent;
  --pagedjs-crop-color: black;
  --pagedjs-crop-shadow: white;
  --pagedjs-crop-stroke: 1px;
}

/* To define how the book look on the screen: */
@media screen, pagedjs-ignore {
  body {
    background-color: var(--color-background);
  }

  .pagedjs_pages {
    display: flex;
    width: calc(var(--pagedjs-width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .pagedjs_page {
    background-color: var(--color-paper);
    box-shadow: 0 0 0 1px var(--color-pageSheet);
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10mm;
  }

  .pagedjs_first_page {
    margin-left: var(--pagedjs-width);
  }

  .pagedjs_page:last-of-type {
    margin-bottom: 10mm;
  }

  .pagedjs_pagebox {
    box-shadow: 0 0 0 1px var(--color-pageBox);
  }

  .pagedjs_left_page {
    z-index: 20;
    width: calc(
      var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width)
    ) !important;
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop {
    border-color: transparent;
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle {
    width: 0;
  }

  .pagedjs_right_page {
    z-index: 10;
    position: relative;
    left: calc(var(--pagedjs-bleed-left) * -1);
  }

  /* show the margin-box */

  .pagedjs_margin-top-left-corner-holder,
  .pagedjs_margin-top,
  .pagedjs_margin-top-left,
  .pagedjs_margin-top-center,
  .pagedjs_margin-top-right,
  .pagedjs_margin-top-right-corner-holder,
  .pagedjs_margin-bottom-left-corner-holder,
  .pagedjs_margin-bottom,
  .pagedjs_margin-bottom-left,
  .pagedjs_margin-bottom-center,
  .pagedjs_margin-bottom-right,
  .pagedjs_margin-bottom-right-corner-holder,
  .pagedjs_margin-right,
  .pagedjs_margin-right-top,
  .pagedjs_margin-right-middle,
  .pagedjs_margin-right-bottom,
  .pagedjs_margin-left,
  .pagedjs_margin-left-top,
  .pagedjs_margin-left-middle,
  .pagedjs_margin-left-bottom {
    box-shadow: 0 0 0 1px inset var(--color-marginBox);
  }

  /* uncomment this part for recto/verso book : ------------------------------------ */

  
    // .pagedjs_pages {
    //     flex-direction: column;
    //     width: 100%;
    // }

    // .pagedjs_first_page {
    //     margin-left: 0;
    // }

    // .pagedjs_page {
    //     margin: 0 auto;
    //     margin-top: 10mm;
    // } 

    // .pagedjs_left_page{
    //     width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width) + var(--pagedjs-bleed-left))!important;
    // }

    // .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop{
    //     border-color: var(--pagedjs-crop-color);
    // }

    // .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle{
    //     width: var(--pagedjs-cross-size)!important;
    // } 

    // .pagedjs_right_page{
    //     left: 0; 
    // } 
   

  /*--------------------------------------------------------------------------------------*/

  /* uncomment this part to see the baseline : -------------------------------------------*/

  /* .pagedjs_pagebox {
        --pagedjs-baseline: 22px;
        --pagedjs-baseline-position: 5px;
        --pagedjs-baseline-color: cyan;
        background: linear-gradient(transparent 0%, transparent calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
        background-size: 100% var(--pagedjs-baseline);
        background-repeat: repeat-y;
        background-position-y: var(--pagedjs-baseline-position);
    }  */

  /*--------------------------------------------------------------------------------------*/
}

/* Marks (to delete when merge in paged.js) */

.pagedjs_marks-crop {
  z-index: 999999999999;
}

.pagedjs_bleed-top .pagedjs_marks-crop,
.pagedjs_bleed-bottom .pagedjs_marks-crop {
  box-shadow: 1px 0px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-top .pagedjs_marks-crop:last-child,
.pagedjs_bleed-bottom .pagedjs_marks-crop:last-child {
  box-shadow: -1px 0px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-left .pagedjs_marks-crop,
.pagedjs_bleed-right .pagedjs_marks-crop {
  box-shadow: 0px 1px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-left .pagedjs_marks-crop:last-child,
.pagedjs_bleed-right .pagedjs_marks-crop:last-child {
  box-shadow: 0px -1px 0px 0px var(--pagedjs-crop-shadow);
}


// --------------------- RMS Style ---------------------------
// headings
h1, .h1 {
  font-size: $font-size-base * 4.5;
  font-weight: 900;
  margin-bottom: 3.5rem;
}

h2, .h2 {
  font-size: $font-size-base * 2.667;
  margin-bottom: 2.75rem;
}

h3, .h3 {
  font-size: $font-size-base * 1.334;
  text-transform: uppercase;
  margin-top: 1.75rem;
  margin-bottom: .65rem;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  color: $body-color;
}

h4, .h4 {
  font-size: $font-size-base * 1.15;
}

h5, .h5 {
  font-size: $font-size-base;
}

h6, .h6 {
  font-size: $font-size-base * .875;
}

// lead
.lead {
  color: $secondary;
  font-size: $font-size-base * 1.334;
  border-left: .5rem solid $warning;
  padding-left: 1rem;
}

.col-2 {
  columns: 2;
  column-gap: 7mm;
}
// --------------------- Layout Paged ---------------------------
// String variables
h1.title {
  string-set: title content(text);
}

h1.subtitle {
  string-set: subtitle content(text);
}

// Page format
@page {
  size: 210mm 297mm;
  margin: 35mm 21mm 25mm 21mm;
}

@page: blank {

}

// Breaks - Page type
.level1,
.level1 > .level2 {
  break-before: page;
}
.level2 {
  break-after: page;
}
.front-matter-container  .front-matter {
  page: frontmatter;
}
.section-title {
  page: section-title;
}
.section > h1, .toc > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footnote {
  break-before: always;
  break-after: always;
}
.bg-primary, .bg-secondary, .bg-tertiary, .bg-success, .bg-danger, .bg-warning, .bg-info, .bg-light, .bg-dark, .figure {
  break-inside: avoid;
}
caption {
  break-inside: avoid;
  break-after: avoid;
}

// Basic page layout
@page {
  @top-left {
    content: string(title);
    color: $primary;
    font-size: $font-size-base * .667;
    font-weight: 400;
    vertical-align: top;
    margin-top: 13mm;
    border-bottom: 2px solid $gray-200;
    height: 8.2mm;
  }
  @top-center {
    content: "";
    font-size: $font-size-base * .667;
    font-weight: 400;
    vertical-align: top;
    margin-top: 13mm;
    border-bottom: 2px solid $gray-200;
    height: 8.2mm;
  }
  @top-right {
    content: string(subtitle);
    color: $black;
    font-size: $font-size-base * .667;
    font-weight: 400;
    vertical-align: top;
    margin-top: 13mm;
    border-bottom: 2px solid $gray-200;
    height: 8.2mm;
  }
  @bottom-center {
    content: counter(page, decimal-leading-zero);
    color: $primary;
    font-size: $font-size-base * .833;
    font-weight: 900;
    margin-bottom: 7mm;
    vertical-align: bottom;
  }
}

// Cover page layout
@page :first {
  @top-left {
    content: none;
    border: none;
  }
  @top-center {
    content: none;
    border: none;
  }
  @top-right {
    content: none;
    border: none;
  }
  @bottom-center {
    content: none;
  }
}

// Fronmatter page layout
@page frontmatter {
  background-color: mix(white, $primary, 92%);
  @top-left {
    border-color: white;
  }
  @top-center {
    border-color: white;
  }
  @top-right {
    border-color: white;
  }
  @bottom-center {
    content: none;
  }
}

// Secion title page layout
@page section-title {
  background-color: $primary;
  @top-left {
    color: $warning;
    border-color: $warning;
  }
  @top-center {
    color: $warning;
    border-color: $warning;
  }
  @top-right {
    color: $warning;
    border-color: $warning;
  }
  @bottom-center {
    content: none;
  }
}

// Filter non required elements on front page
.front-page .author,
.front-page .author-afil,
.front-page .author-email,
.front-page .email,
.front-page .date,
.front-page .abstract {
  display: none;
}

// Section-title style
.section-title {
  h1 {
    color: white;
  }
}