// --------------------- Vars ---------------------------
:root {
  --color-background: whitesmoke;
  --color-pageSheet: #cfcfcf;
  --color-pageBox: violet;
  --color-paper: white;
  --color-marginBox: transparent;
  --pagedjs-crop-color: black;
  --pagedjs-crop-shadow: white;
  --pagedjs-crop-stroke: 1px;
}

// --------------------- Layout ---------------------------
// String variables
h1.title {
  string-set: title content(text);
}

h1.subtitle {
  string-set: subtitle content(text);
}

// Page format
@page {
  size: 210mm 297mm;
  margin: 35mm 21mm 25mm 21mm;
}

@page: blank {

}

// Page type
.front-matter-container  .front-matter {
  page: frontmatter;
}
.main .section-title {
  page: section-title;
}

// Basic page layout
@page {
  @top-left {
    content: string(title);
    color: $primary;
    font-size: $font-size-base * .667;
    font-weight: 700;
    vertical-align: top;
    margin-top: 13mm;
    border-bottom: 2px solid $gray-200;
    height: 8.2mm;
  }
  @top-center {
    content: "";
    font-size: $font-size-base * .667;
    font-weight: 700;
    vertical-align: top;
    margin-top: 13mm;
    border-bottom: 2px solid $gray-200;
    height: 8.2mm;
  }
  @top-right {
    content: string(subtitle);
    color: $black;
    font-size: $font-size-base * .667;
    font-weight: 700;
    vertical-align: top;
    margin-top: 13mm;
    border-bottom: 2px solid $gray-200;
    height: 8.2mm;
  }
  @bottom-center {
    content: counter(page, decimal-leading-zero);
    color: $primary;
    font-size: $font-size-base * .833;
    font-weight: 700;
    margin-bottom: 7mm;
    vertical-align: bottom;
  }
}

// Cover page layout
@page :first {
  background-image: var(--front-cover);
  background-position: 0mm 40mm;
  background-size: 210mm 257mm;
  background-repeat: no-repeat;
  @top-left {
    content: none;
    border: none;
  }
  @top-center {
    content: none;
    border: none;
  }
  @top-right {
    content: none;
    border: none;
  }
  @bottom-center {
    content: none;
  }
}

// TODO cover style

// Frontmatter page layout
@page frontmatter {
  background-color: mix(white, $primary, 92%);
  @top-left {
    border-color: white;
  }
  @top-center {
    border-color: white;
  }
  @top-right {
    border-color: white;
  }
  @bottom-center {
    content: none;
  }
}

// Secion title page layout
@page section-title {
  background-color: $primary;
  @top-left {
    color: $warning;
    border-color: $warning;
  }
  @top-center {
    color: $warning;
    border-color: $warning;
  }
  @top-right {
    color: $warning;
    border-color: $warning;
  }
  @bottom-center {
    content: none;
  }
}

// Section-title style
.section-title {
  h6 {
    color: white;
    font-size: $font-size-base * 4.5;
    font-weight: 900;
    margin-bottom: 3.5rem;

    .big-num {
      color: $warning;
      font-size: $font-size-base * 3;
      font-weight: 300;
    }
    .big-num:after {
      content:"\a";
      white-space: pre;
    }
  }
}

// TODO Backcover

// Breaks
// TODO fix cover-toc break with proper frontmatter format to toc
.level1,
.level1 > .level2 {
  break-before: page;
}
.level2 {
  break-after: page;
}
.hide-h1 > .level2 {
  break-before: avoid !important;
}
.section > h1,
.section > h2, 
.section > h3, 
.section > h4, 
.section > h5, 
.section > h6 {
  break-after: avoid;
}
.footnote {
  break-before: always;
  break-after: always;
}
.bg-primary, .bg-secondary, .bg-tertiary, .bg-success, .bg-danger, .bg-warning, .bg-info, .bg-light, .bg-dark, .figure {
  break-inside: avoid;
}
caption {
  break-inside: avoid;
  break-after: avoid;
}

// Hide
.hide-h1 h1 {
  display: none;
}
.front-page .author,
.front-page .author-afil,
.front-page .author-email,
.front-page .email,
.front-page .date,
.front-page .abstract {
  display: none;
}

// --------------------- Styles ---------------------------
// Fonts
// Headings
h1, .h1 {
  font-size: $font-size-base * 4.5;
  font-weight: 900;
  margin-bottom: 3.5rem;
}
h2, .h2 {
  font-size: $font-size-base * 2.667;
  margin-bottom: 2.75rem;
}
h3, .h3 {
  font-size: $font-size-base * 1.334;
  text-transform: uppercase;
  margin-top: 1.75rem;
  margin-bottom: .65rem;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $body-color;
}
h4, .h4 {
  font-size: $font-size-base * 1.15;
}
h5, .h5 {
  font-size: $font-size-base;
}
h6, .h6 {
  font-size: $font-size-base * .875;
}

// Lead
.lead {
  color: $secondary;
  font-size: $font-size-base * 1.334;
  border-left: .5rem solid $warning;
  padding-left: 1rem;
}

// Lists
ul li::marker,
ol li::marker {
  color: $primary;
}

mark {
  background-color: mix(white, $warning, 88%);
}

// Links
a {
  text-decoration: none;
}
a:hover {
  color: $primary;
}
/* url in text */
a[href^="http"]:not([class="uri"])::after {
  content: " (" attr(href) ")";
  font-size: 90%;
  hyphens: none;
  word-break: break-all;
}
/* do not include page references in code blocks */
.sourceCode a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after,
.sourceCode a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: unset;
}
.main a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: " (page " target-counter(attr(href), page, lower-roman) ")";
}

// TODO blockquote

// Footnotes
.footnote-area {
  border-top: 1px solid $gray-200;
  padding-top: .5rem;
  .footnote {
    font-size: $font-size-base * .875 !important;
    color: $secondary;
    sup {
      font-size: $font-size-base * .875 !important;
      color: $primary;
      top: 0;
      margin-right: 1rem;
    }
  }
}

// Frontmatter
.toc ul, .lot ul, .lof ul {
  list-style: none;
  padding-left: 0;
  overflow-x: clip;
}
// TOC
.toc  {
  a {
    font-size: $font-size-base * 1.15;
    font-weight: 700;
  }
  ul li li a {
    color: $black;
    font-size: $font-size-base;
  }
  ul li li li a {
    font-weight: 300;
  }
  & > ul > li  {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
  li li {
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-left: 1.5rem;
  }
  li li li {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
  }
}

.toc a::after, .lot a::after, .lof a::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
  float: right;
}
// TODO finalize toc, lotm, lof styles
.lot a::before {
  content: "Table ";
}
.lof a::before {
  content: "Figure ";
}
// .lot .leaders::before, .lof .leaders::before {
//   float: left;
//   width: 0;
//   white-space: nowrap;
//   content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
// }

// Abbreviations
.loa dl {
  display: grid;
  grid-gap: .25rem 1.5rem;
  grid-template-columns: max-content;
  dt {
    color: $primary;
  }
  dd {
    margin: 0;
    grid-column-start: 2;
  }
}

// TODO columns layout
.col-2 {
  columns: 2;
  column-gap: 7mm;
}

// --------------------- Interface ---------------------------
/* To define how the book look on the screen: */
@media screen, pagedjs-ignore {
  body {
    background-color: var(--color-background);
  }

  .pagedjs_pages {
    display: flex;
    width: calc(var(--pagedjs-width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .pagedjs_page {
    background-color: var(--color-paper);
    box-shadow: 0 0 0 1px var(--color-pageSheet);
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10mm;
  }

  .pagedjs_first_page {
    margin-left: var(--pagedjs-width);
  }

  .pagedjs_page:last-of-type {
    margin-bottom: 10mm;
  }

  .pagedjs_pagebox {
    box-shadow: 0 0 0 1px var(--color-pageBox);
  }

  .pagedjs_left_page {
    z-index: 20;
    width: calc(
      var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width)
    ) !important;
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop {
    border-color: transparent;
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle {
    width: 0;
  }

  .pagedjs_right_page {
    z-index: 10;
    position: relative;
    left: calc(var(--pagedjs-bleed-left) * -1);
  }

  /* show the margin-box */

  .pagedjs_margin-top-left-corner-holder,
  .pagedjs_margin-top,
  .pagedjs_margin-top-left,
  .pagedjs_margin-top-center,
  .pagedjs_margin-top-right,
  .pagedjs_margin-top-right-corner-holder,
  .pagedjs_margin-bottom-left-corner-holder,
  .pagedjs_margin-bottom,
  .pagedjs_margin-bottom-left,
  .pagedjs_margin-bottom-center,
  .pagedjs_margin-bottom-right,
  .pagedjs_margin-bottom-right-corner-holder,
  .pagedjs_margin-right,
  .pagedjs_margin-right-top,
  .pagedjs_margin-right-middle,
  .pagedjs_margin-right-bottom,
  .pagedjs_margin-left,
  .pagedjs_margin-left-top,
  .pagedjs_margin-left-middle,
  .pagedjs_margin-left-bottom {
    box-shadow: 0 0 0 1px inset var(--color-marginBox);
  }
}
/* Marks (to delete when merge in paged.js) */

.pagedjs_marks-crop {
  z-index: 999999999999;
}

.pagedjs_bleed-top .pagedjs_marks-crop,
.pagedjs_bleed-bottom .pagedjs_marks-crop {
  box-shadow: 1px 0px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-top .pagedjs_marks-crop:last-child,
.pagedjs_bleed-bottom .pagedjs_marks-crop:last-child {
  box-shadow: -1px 0px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-left .pagedjs_marks-crop,
.pagedjs_bleed-right .pagedjs_marks-crop {
  box-shadow: 0px 1px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-left .pagedjs_marks-crop:last-child,
.pagedjs_bleed-right .pagedjs_marks-crop:last-child {
  box-shadow: 0px -1px 0px 0px var(--pagedjs-crop-shadow);
}
